/********************************
			Global
********************************/
:root {
	--white			: #FFFFFF;
	--gray-light	: #EEEEEE;
	--gray-dark		: #9A9A9A;
	--blue-light	: #75A4F4;
	--gray			: #A9A9A9;
	--blue			: #4386FA;
	--blue-dark		: #2B74F2;
	--red			: #E74C3C;
	--blue-highlight: #E0EAF9;
	--green-light	: #65C295;
	--green-dark	: #009353;
	--green			: #00A65D;
}

::-webkit-input-placeholder {
    color: var(--gray);
    opacity: 0.5;
}

html {
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

body {
	margin: 0;
	-webkit-user-drag: none;
}

input, p {
	border-color: var(--gray);
}

#add-body {
	width: 600px;
	height: 400px;
}

#edit-body {
	width: 600px;
	height: 400px;
}


#shortcuts-menu {
	margin: 0;
	padding: 0;
	width: 600px;
	height: 400px;
}

#sorting-menu {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	background-color: var(--green);
}


.toolbar-button, .menu-button, .sort-button, .save-button, .icon-container, #default-button {
	height: 50px;
	float: left;
	background-color: var(--green);
	outline: 0;
	padding: 0;
	border-style: none;
}

.toolbar-button, .icon-container {
	width: 50px;
}

.toolbar-button, .menu-button, .sort-button, .save-button, #default-button {
	cursor: pointer;
}

.menu-button {
	width: 50%;
}

.sort-button {
	width: 25%;
}

.save-button {
	width: 100%;
}

#default-button {
	font-family: Arial;
	font-size: 20px;
	color: var(--white);
	text-align: center;
	line-height: 50px;
	margin-left: 12.5%;
	margin-right: 12.5%;
	margin-top: 50px;
	width: 75%;
}

.toolbar-button:hover, .toolbar-button:focus, .menu-button:hover, .menu-button:focus, .sort-button:hover, .sort-button:focus, .save-button:hover, .save-button:focus, #default-button:hover, #default-button:focus {
	background-color: var(--green-light);
}

.menu-button[disabled], .menu-button[disabled]:hover, .sort-button[disabled], .sort-button[disabled]:hover {
	cursor: default;
	background-color: var(--green-dark);
}

.toolbar-button[disabled], .toolbar-button[disabled]:hover, .save-button[disabled], .save-button[disabled]:hover {
	cursor: default;
	background-color: var(--gray);
}

.icon-container {
	background-color: var(--gray);
}

.icon {
	height: 30px;
	width: 30px;
	margin: 10px;
}

/*///////////////////
Toolbar Tab
///////////////////*/

#toolbar-body {
	width: 350px;
	height: 50px;
}

#toolbar-menu {
	margin: 0;
	padding: 0;
	width: 350px;
	height: 50px;
}

.hashtag {
	font-family: Arial;
	font-size: 32px;
	text-align: center;
	line-height: 46px;
	padding: 0;
	margin: 0;
	width: 23px;
	height: 46px;
	border-style: solid;
	border-width: 2px 0 2px 2px;
	float:left;
}

#shortcut-input, #add-shortcut-input, #add-replacement-input {
	height: 50px;
	font-size: 32px;
	margin: 0;
	border-style: solid;
	float: left;
	outline: 0;
}

#shortcut-input, #add-shortcut-input {
	width: 225px;
	border-width: 2px 2px 2px 0px;
}

#add-replacement-input {
	width: 250px;
	border-width: 2px;
	padding-left: 10px;
}

#shortcut-input::selection, #add-shortcut-input::selection, #add-replacement-input::selection, .edit-shortcut-input::selection, .edit-replacement-input::selection {
	color: var(--white);
	background: var(--green);
}

#add-icon {
  width: 36px;
  height: 36px;
  margin: 7px auto;
}

#edit-icon {
  width: 36px;
  height: 36px;
  margin: 7px auto;
}


/*///////////////////
Options Page
///////////////////*/

#options-page {
}

#options-menu {
	width: 100%;
	height: 50px;
}

/*///////////////////
Add tab
///////////////////*/

#add-shortcut, #add-replacement {
	height: 50px;
	width: 300px;
	margin: auto;
}

#add-shortcut {
	margin-top: 95px;
	margin-bottom: 10px;
}

#add-replacement {
	margin-bottom: 95px;
}

#add-tab {
	display: block;
	width: 100%;
	margin: auto;
}

.menu-icon {
  display: block;
}


/*///////////////////
Edit tab
///////////////////*/
#edit-shortcuts-container {
	width: 100%;
	height: 340px;
	margin-top: 10px;

	overflow: auto;
}

.edit-shortcut:nth-child(even) {
	background-color: var(--green);
}

.edit-shortcut:nth-child(odd) {
	background-color: var(--green-dark);
}

.edit-shortcut {
	width: 583px;
	height: 40px;
}

.edit-hashtag {
	font-family: Arial;
	font-size: 24px;
	text-align: center;
	line-height: 30px;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	margin-top: 3px;
	width: 23px;
	height: 30px;
	border-style: solid;
	border-width: 2px 0 2px 2px;
	border-color: var(--gray);
	background-color: var(--white);
	float:left;
}

.edit-shortcut-input, .edit-replacement-input {
	height: 34px;
	font-size: 24px;
	margin: 0;
	margin-top: 3px;
	border-style: solid;
	border-color: var(--gray);
	float: left;
	outline: 0;
}

.edit-shortcut-input {
	width: 201px;
	border-width: 2px 2px 2px 0;
}

.edit-replacement-input {
	width: 227px;
	border-width: 2px;
	padding-left: 10px;
	margin-right: 10px;
}

.edit-equals {
	font-family: Arial;
	font-size: 24px;
	text-align: center;
	line-height: 40px;
	padding: 0;
	margin: 0;
	width: 30px;
	height: 40px;
	color: var(--white);
	float:left;
}


.edit-button {
	height: 40px;
	width: 40px;
	float: left;
	outline: 0;
	padding: 0;
	border-style: none;
	cursor: pointer;
	background-color: transparent;
}

.edit-button:focus, .edit-button:hover {
	background-color: var(--green-light);
}

.edit-icon {
	height: 30px;
	width: 30px;
	padding: 5px;
}


div.input-valid {
	background-color: var(--green);
}

div.input-invalid {
	background-color: var(--red);
}

input.input-valid, p.input-valid {
	border-color: var(--green);
}

input.input-invalid, p.input-invalid {
	border-color: var(--red);
}

.empty-heading {
	font-family: Arial;
	font-size: 24px;
	color: var(--green);
	text-align: center;
	margin-top: 75px;
}

.empty-text {
	font-family: Arial;
	font-size: 16px;
	color: var(--gray);
	text-align: center;
}
